#coach-grid{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
#coach-grid article{
    display: grid;
    grid-template-areas:
            "a b"
            "c c";
    height: 80vh;
    background-color: white;
    filter: drop-shadow(0 0 2px black);
    width: auto;
    position: relative;
    border-radius: 5px;
    overflow: clip;
}
.coach-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 35vw;
}
#coach-grid article:nth-child(odd) .coach-image{
    grid-area: a;
}
#coach-grid article:nth-child(even) .coach-image{
    grid-area: b;
}
.coach-contact-info{
    margin: 1em;
}
.coach-contact-info li{
    margin: 1em 0 1em 0;
}
.coach-about{
    grid-area: c;
    margin: 0 1em 1em 1em;
}
@media (max-width: 1900px) {
    #coach-grid{
        grid-template-columns: 1fr;
    }
    #coach-grid article:nth-child(odd){
        grid-template-areas:
                "a b"
                "a c";
    }
    #coach-grid article:nth-child(even){
        grid-template-areas:
                "b a"
                "c a";
    }
    #coach-grid article:nth-child(even) .coach-image{
        grid-area: a;
    }
}
@media (max-width: 750px) {
    #coach-grid article{
        display: block;
        height: unset;
    }
    .coach-image{
        width: 100%;
        height: 40vh;
    }
}
@media (min-height: 900px) and (max-width: 1900px) {
    #coach-grid article:nth-child(odd){
        grid-template-areas:
                "a a b"
                "c c c";
    }
    #coach-grid article:nth-child(even){
        grid-template-areas:
                "b a a"
                "c c c";
    }
    .coach-image{
        width: 100%;
    }
}