/* ========== HOME PAGE STYLING ========== */

/* === HEADERS === */
.homeHeader{
    font-size: 4em;
    user-select: none;
}
@media (max-width: 1280px) {
    .homeHeader{
        font-size: 3em;
    }
}
@media (max-width: 800px) {
    .homeHeader{
        font-size: 2em;
    }
}
/* === NAV ARROWS === */
.aboutArrows{
    position: absolute;
}
.aboutArrows:hover{
    height: 6em;
    width: 6em;
    border: 2px solid black;
    border-radius: 1em;
}
.goToAbout, .goBackFromAbout{
    display: block;
    background-image: url("../../data/images/arrow_icon.png");
    min-height: 7em;
    min-width: 7em;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5px black);
}
.goToAbout{
    bottom: 1em;
}
.goBackFromAbout{
    top: 20vh;
    rotate: 180deg;
}
/* === MAIN SCREEN === */
/* #homeMainScreen{
    height: 90vh;
    width: 100%;
    background-image: url("../../data/images/background_home.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */

/* === ABOUT SCREEN === */
#homeAboutScreen{
    padding-top: 14vh;
    height: 90vh;
    background-color: var(--header-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.homeAboutDiv{
    display: flex;
    justify-content: space-between;
}
.homeAboutText{
    max-width: 40vw;
    margin: 1em;
}