/* ========== ANIMATION TEXT ========== */

/* Set the position of the element with ID "homeMainScreen" to relative */
#homeMainScreen {
    position: relative;
}

/* Set the position of elements with the class "content" to relative and move them up 20% */
.content {
    position: relative;
    top: -20%;
}

/* Set the styling for all h2 elements inside elements with the class "content" */
.content h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 90vw;
}

/* Set the color to transparent and apply a stroke effect to the first, third, and fourth h2 elements */
.content h2:nth-child(1),
.content h2:nth-child(3),
.content h2:nth-child(4) {
    color: transparent;
    -webkit-text-stroke: 2px #00008B;
}

/* Set the color and animation for the second and fourth h2 elements */
.content h2:nth-child(2),
.content h2:nth-child(4) {
    color: #0047AB;
    animation: animate 4s ease-in-out infinite;
}

/* Move the third and fourth h2 elements up by 100% of their height */
.content h2:nth-child(3),
.content h2:nth-child(4) {
    transform: translate(-50%, calc(-50% + 100%));
}

/* Define the keyframes for the animation */
@keyframes animate {
    0%, 100% {
        clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

/* Responsive Styles */

/* For screens with a maximum width of 700px */
@media only screen and (max-width: 700px) {
    .content h2 {
        font-size: 4em;
    }
}

/* For screens with a minimum width of 601px and a maximum width of 1100px */
@media only screen and (min-width: 701px) and (max-width: 1100px) {
    .content h2 {
        font-size: 5em;
    }
}

@media only screen and (max-width: 580px) {

    /* Set the font-size of all h2 elements to 3em */
    .content h2 {
        font-size: 3em;
    }

}


/* ========== VIDEO BACKGROUND ========== */

#homeMainScreen{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}


/* ========== HOME PAGE STYLING ========== */

/* === HEADERS === */
.homeHeader{
    font-size: 4em;
    user-select: none;
}
@media (max-width: 1280px) {
    .homeHeader{
        font-size: 3em;
    }
}
@media (max-width: 800px) {
    .homeHeader{
        font-size: 2em;
    }
}
/* === NAV ARROWS === */
.aboutArrows{
    position: absolute;
}
.aboutArrows:hover{
    height: 6em;
    width: 6em;
    border: 2px solid black;
    border-radius: 1em;
}
.goToAbout, .goBackFromAbout{
    display: block;
    background-image: url("../../data/images/arrow_icon.png");
    min-height: 7em;
    min-width: 7em;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5px black);
}
.goToAbout{
    bottom: 1em;
}
.goBackFromAbout{
    top: 12vh;
    rotate: 180deg;
}

/* === ABOUT SCREEN === */
#homeAboutScreen{
    padding-top: 14vh;
    height: 86vh;
    background-color: var(--header-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.homeAboutDiv{
    display: flex;
    justify-content: space-between;
}
.homeAboutText{
    max-width: 40vw;
    margin: 1em;
}

body{
    background-color: var(--header-blue);
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    grid-template-rows: 25vh 20vh 20vh;
    width: 100%;
    padding: 1em;
}

.timeline__line {
    position: absolute;
    top: 25%;
    bottom: 10%;
    left: 50%;
    width: 0.1%;
    background-color: black;
    transform: translateX(-50%);
}

.timeline-content1, .timeline-content2, .timeline-content3{
    background-image: url(/data/images/text-background-index-html.jpg);
    background-size: cover;
    background-position: top right;
    color: #654321;
    padding: 1%;
    border-radius: 5%;
    max-height: 20vh;
    overflow: auto;
}
.timeline-content1{
    max-height: 25vh;
    grid-row: 1/3;
}
.timeline-content2{
    grid-row: 2/3;
}
.timeline-content3{
    grid-row: 3/3;
}

@media (min-height: 800px) {
    .timeline-title::first-letter{
        font-size: 2em;
        font-family: fantasy;
        font-weight: bold;
    }
}

/*------------ @media ------------ */

@media screen and (max-width: 790px) {
    .timeline {
        grid-template-columns: 1fr;
    }

    .timeline__line {
        display: none;
    }

    .anchor{
        display: none;
    }

    .timeline-content1,
    .timeline-content2,
    .timeline-content3 {
        width: 100%;
        grid-column: 1/1;
    }
}

/*------------ animations ------------ */

.timeline-animation{
    animation: timeline-animation 8s 1 linear;
}

@keyframes timeline-animation {
    0% {
        height: 0;
    }
    100% {
        height: 68%;
    }
}

.anchor {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-image: url(/data/images/drop-anchor.png);
    background-size: cover;
}

.anchor-animation{
    animation: anchor-animation 8s 1 linear;
}

@keyframes anchor-animation {
    0% {
        top: 22%;
    }
    100% {
        top:90%;
    }
}