body{
  background-color: var(--header-blue);
}

.timeline {
  display: grid;
  grid-template-columns: 
  "0" "0"
  "1" "1"
  "2" "2"
  "3" "3";
  grid-template-rows: 10% ;
  
}

.timeline::before {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 10%;
  left: 50%;
  width: 0.1%; 
  background-color: black; 
  transform: translateX(-50%);
}

.timeline-content1{
  grid-area: 1;
  margin-right: 55%;
  margin-left: 5%;
  background-color: white;
}
.timeline-content2{
  grid-area: 2;
  margin-left: 55%;
  margin-right: 5%;
  background-color: white;
}
.timeline-content3{
  grid-area: 3;
  margin-right: 55%;
  margin-left: 5%;
  background-color: white;
}


@media screen and (max-width: 680px) {
  .timeline {
    grid-template-columns: "0" "0" "1" "1" "2" "2" "3" "3";
    grid-template-rows: 10%;
  }

  .timeline::before {
   display: none;
  } 


  .timeline-content1,
  .timeline-content2,
  .timeline-content3 {
    margin-top: 20%;
    margin: 0;
    width: 90%;
    margin: auto;
  }
}
