body{
  background-color: var(--header-blue);
}

.timeline {
  display: grid;
  grid-template-columns: 
  "0" "0"
  "1" "1"
  "2" "2"
  "3" "3";
  grid-template-rows: 10%;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 10%;
  left: 50%;
  width: 0.1%;
  background-color: black;
  transform: translateX(-50%);
}

.timeline-animation {
  animation: timeline-animation 8s linear 1;
}

@keyframes timeline-animation {
  0% {
    height: 0%;
  }
  100% {
    height: 68%;
  }
}

.timeline-content1{
  grid-area: 1;
  margin-right: 55%;
  margin-left: 5%;
  background-image: url(/data/images/text-background-index-html.jpg);
  background-size: cover;
  color: #654321;
  padding: 1%;
  border-radius: 5%;
}

.timeline-content2{
  grid-area: 2;
  margin-left: 55%;
  margin-right: 5%;
   background-image: url(/data/images/text-background-index-html.jpg);
  background-size: cover;
  color: #654321;
  padding: 1%;
  border-radius: 5%;
}

.timeline-content3{
  grid-area: 3;
  margin-right: 55%;
  margin-left: 5%;
   background-image: url(/data/images/text-background-index-html.jpg);
  background-size: cover;
  color: #654321;
  padding: 1%;
  border-radius: 5%;
}

.timeline-title::first-letter{
  font-size: 2em;
  font-family: fantasy;
  font-weight: bold;
}

/*------------ @media ------------ */

@media screen and (max-width: 790px) {
  .timeline {
    grid-template-columns: "0" "0" "1" "1" "2" "2" "3" "3";
    grid-template-rows: 10%;
  }

  .timeline::before {
   display: none;
  } 

  .anchor{
    display: none;
  }

  .timeline-content1,
  .timeline-content2,
  .timeline-content3 {
    margin-top: 20%;
    margin: 0;
    width: 90%;
    margin: auto;
    padding: 0;
  }
}

/*------------ anchor animation ------------ */

.anchor {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-image: url(/data/images/drop-anchor.png);
  background-size: cover;
  animation: anchor-animation 10s linear 1;
}

@keyframes anchor-animation {
  0% {
    top: 15%;
  }
  100% {
    top:92%;
  }
}